@import "tailwindcss";

@theme {
  --color-honolulu-blue: #0076b6;
  /* --color-one: #f2f2f2; */
  --color-one: hsl(240, 0%, 95%);
}

.scrolled {
  background-color: var(--color-one);
}

.scrolled a,
.scrolled .logo span {
  color: #000;
}

.scrolled a:hover {
  color: var(--color-honolulu-blue);
}

.scrolled .logo .rectangle {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.scrolled .logo .line {
  border-right: 1px solid black;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
